.services-3-child {
  position: absolute;
  top: 78px;
  left: 538px;
  background-color: var(--color-gainsboro-100);
  width: 83px;
  height: 1px;
}
.text {
  position: absolute;
  top: 2084px;
  left: 728px;
  color: var(--color-gray-100);
  text-align: justify;
  display: inline-block;
  width: 573px;
}
.frame-child38 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-100);
  width: 1441px;
  height: 1945px;
}
.homepage-bg-1-214 {
  position: absolute;
  top: 0;
  left: calc(50% - 720.5px);
  width: 1440px;
  height: 999px;
  object-fit: cover;
}
.rectangle-parent35 {
  position: relative;
  width: 1441px;
  height: 1945px;
  z-index: 0;
}
.crafting-a-compelling {
  position: relative;
  font-size: var(--font-size-mini);
  text-align: justify;
  display: inline-block;
  width: 573px;
  flex-shrink: 0;
}
.web-design-development-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-37xl);
}
.image-10-icon2,
.image-6-icon3,
.image-7-icon2 {
  position: relative;
  width: 345px;
  height: 165px;
  object-fit: cover;
}
.image-6-icon3,
.image-7-icon2 {
  width: 359px;
  height: 159px;
}
.image-7-icon2 {
  width: 375px;
}
.image-10-group {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-69xl);
}
.key-services-offered {
  position: relative;
}
.brand-briefing {
  margin: 0;
}
.frame-parent53,
.web-design-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.web-design-parent {
  flex-direction: column;
  gap: var(--gap-smi);
}
.frame-parent53 {
  flex-direction: row;
  gap: 125px;
}
.frame-child39 {
  position: relative;
  width: 750px;
  height: 1px;
}
.frame-parent52 {
  flex-direction: column;
  gap: 47px;
}
.frame-parent51,
.frame-parent52,
.key-services-offered-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.key-services-offered-parent {
  flex-direction: row;
  gap: 221px;
  text-align: justify;
  font-size: var(--font-size-mini);
}
.frame-parent51 {
  flex-direction: column;
  gap: var(--gap-54xl);
}
.frame-child40 {
  position: relative;
  width: 781px;
  height: 1px;
}
.group-child54 {
  position: absolute;
  top: 24.1px;
  left: 252.5px;
  width: 29px;
  height: 14.7px;
}
.book-and-inquire,
.group-child55 {
  position: absolute;
  top: 19px;
  left: 23px;
}
.group-child55 {
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 295px;
  height: 61px;
}
.vector-parent8 {
  position: relative;
  width: 295px;
  height: 61px;
}
.vector-parent7 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 105px;
  font-size: var(--font-size-xl);
}
.our-services-has-a-recurring-f-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-38xl);
  font-size: var(--font-size-mini);
}
.packages-parent {
  flex-direction: column;
  gap: 585px;
  text-align: justify;
  font-size: var(--font-size-xl);
}
.frame-parent49,
.frame-parent50,
.packages-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent50 {
  margin: 0 !important;
  position: absolute;
  top: 270px;
  left: 85px;
  flex-direction: column;
  gap: var(--gap-72xl);
  z-index: 1;
}
.frame-parent49 {
  flex-direction: row;
  position: relative;
  gap: var(--gap-3xs);
  z-index: 0;
}
.design-layout-wireframing-prot {
  margin: 0;
  padding-left: var(--padding-xl);
}
.discovery-call-and-container {
  position: relative;
  font-size: var(--font-inherit);
  font-family: var(--font-inherit);
}
.web-design-package-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.content-creation {
  margin-bottom: 0;
}
.frame-parent48,
.frame-parent54 {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent54 {
  margin: 0 !important;
  top: 1166px;
  left: 215px;
  gap: var(--gap-8xl);
  z-index: 1;
  text-align: justify;
  font-size: var(--font-size-mini);
}
.frame-parent48 {
  top: 0;
  left: 0;
  gap: var(--gap-3xs);
  font-size: var(--font-size-21xl);
}
.frame-child41 {
  position: absolute;
  top: 0;
  left: 77px;
  background-color: var(--color-whitesmoke);
  width: 1441px;
  height: 1850px;
}
.custom-graphic-design-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 159px;
}
.providing-custom-graphic {
  position: relative;
  font-size: var(--font-size-mini);
  color: var(--color-black);
  text-align: justify;
  display: inline-block;
  width: 325px;
}
.frame-parent59 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper24 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1270px;
  height: 455px;
}
.key-services-offered1 {
  position: absolute;
  top: 485px;
  left: 0;
  font-size: var(--font-size-mini);
  text-align: justify;
}
.frame-parent58 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1270px;
  height: 503px;
}
.branding-and-identity-parent,
.frame-parent60 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.branding-and-identity-parent {
  flex-direction: column;
  gap: var(--gap-2xl);
}
.frame-parent60 {
  position: absolute;
  top: 569px;
  left: 265.5px;
  flex-direction: row;
  gap: 70px;
  text-align: justify;
  font-size: var(--font-size-mini);
}
.frame-parent57 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1270px;
  height: 734px;
}
.frame-child42,
.frame-parent56 {
  position: absolute;
  top: 812.5px;
  left: 122.5px;
  width: 1148px;
  height: 5.1px;
}
.frame-parent56 {
  top: 0;
  left: 0;
  width: 1270px;
  height: 817.1px;
  text-align: left;
  font-size: var(--font-size-21xl);
}
.packages1 {
  position: absolute;
  top: 932.1px;
  left: 0;
  font-size: var(--font-size-xl);
}
.discovery-call-and-container3 {
  position: relative;
  font-size: var(--font-inherit);
}
.frame-parent61 {
  position: absolute;
  top: 1071.1px;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-15xl);
}
.we-require-50 {
  position: absolute;
  top: 1566px;
  left: 10px;
}
.frame-child43,
.frame-parent55 {
  position: absolute;
  top: 1629.6px;
  left: -0.5px;
  width: 748px;
  height: 1px;
}
.frame-parent55 {
  top: 150px;
  left: 171px;
  width: 1265px;
  height: 1630px;
}
.frame-child44 {
  position: relative;
  background-color: var(--color-gray-300);
  border: 1px solid var(--color-gray-100);
  box-sizing: border-box;
  width: 296px;
  height: 62px;
  z-index: 0;
}
.frame-child45 {
  position: relative;
  width: 29px;
  height: 14.7px;
}
.book-and-inquire-parent,
.rectangle-parent37 {
  position: absolute;
  display: flex;
  justify-content: flex-start;
}
.book-and-inquire-parent {
  margin: 0 !important;
  top: 19px;
  left: 23px;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-smi);
  z-index: 1;
}
.rectangle-parent37 {
  top: 1749px;
  left: 1015px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-3xs);
  font-size: var(--font-size-xl);
}
.rectangle-parent36 {
  position: absolute;
  top: 1945px;
  left: -84px;
  width: 1518px;
  height: 1850px;
  text-align: justify;
  color: var(--color-gray-100);
}
.frame-child46 {
  position: relative;
  background-color: var(--color-white);
  width: 1441px;
  height: 1839px;
  z-index: 0;
}
.socia-media-marketing-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 167px;
}
.frame-child47 {
  position: relative;
  width: 230px;
  height: 218px;
  object-fit: cover;
}
.frame-parent64,
.rectangle-parent39 {
  display: flex;
  justify-content: flex-start;
}
.rectangle-parent39 {
  flex-direction: row;
  align-items: flex-end;
  gap: 30px;
}
.frame-parent64 {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-31xl);
}
.social-media-management-container {
  position: relative;
  display: inline-block;
  width: 224px;
  flex-shrink: 0;
}
.instagram-management-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.frame-parent63,
.key-services-offered-group,
.social-media-management-social-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-17xl);
}
.frame-parent63,
.key-services-offered-group {
  gap: var(--gap-72xl);
  text-align: justify;
  font-size: var(--font-size-mini);
}
.frame-parent63 {
  flex-direction: column;
  gap: var(--gap-54xl);
  text-align: left;
  font-size: var(--font-size-21xl);
}
.packages2 {
  position: relative;
  font-size: var(--font-size-xl);
}
.frame-parent65 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 39px;
}
.frame-child53,
.frame-icon {
  position: relative;
  width: 769px;
  height: 20px;
}
.frame-child53 {
  background-color: transparent;
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 296px;
  height: 62px;
  z-index: 0;
}
.rectangle-parent40 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-3xs);
  font-size: var(--font-size-xl);
}
.our-services-has-a-recurring-f-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 397px;
}
.frame-child55 {
  position: relative;
  width: 1275.5px;
  height: 1px;
}
.frame-parent66 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 89px;
}
.frame-parent62,
.rectangle-parent38 {
  position: absolute;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent62 {
  margin: 0 !important;
  top: 50px;
  left: calc(50% - 637.5px);
  flex-direction: column;
  gap: var(--gap-25xl);
  z-index: 1;
}
.rectangle-parent38 {
  top: 3795px;
  left: 0;
  flex-direction: row;
  gap: var(--gap-3xs);
  text-align: justify;
  color: var(--color-gray-500);
}
.services-3-item {
  position: absolute;
  top: 1780px;
  left: 0;
  background-color: var(--color-gainsboro-100);
  width: 1441px;
  height: 176px;
  display: none;
  opacity: 0.1;
}
.about-us20 {
  position: absolute;
  top: 6117px;
  left: 474px;
}
.navigation-bar-child5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1448px;
  height: 132px;
  object-fit: cover;
}
.homepage-bg-1-215 {
  position: absolute;
  top: 0;
  left: calc(50% - 720px);
  width: 1440px;
  height: 121px;
  object-fit: cover;
}
.group-child56 {
  background-color: var(--color-gray-300);
  width: 1440px;
  height: 121px;
}
.frame-wrapper25,
.group-child56,
.group-child57 {
  position: absolute;
  top: 0;
  left: 0;
}
.frame-wrapper25 {
  top: 14px;
  left: 290px;
  width: 658px;
  height: 18px;
}
.contact-us10 {
  position: absolute;
  top: 14px;
  left: 22px;
}
.group-child58 {
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
}
.asset-2-110,
.contact-us-parent8,
.group-child58,
.group-wrapper9 {
  position: absolute;
  top: 0;
  left: 0;
  width: 157px;
  height: 47px;
}
.asset-2-110,
.group-wrapper9 {
  left: 1099px;
}
.asset-2-110 {
  top: 3px;
  left: 0;
  width: 46px;
  height: 46px;
  object-fit: cover;
}
.group-parent26 {
  position: absolute;
  top: 34px;
  left: 85px;
  width: 1256px;
  height: 49px;
}
.rectangle-parent41 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 121px;
}
.info-parent14 {
  position: absolute;
  top: 48px;
  left: 375px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-84xl);
}
.navigation-bar7 {
  position: absolute;
  top: 0;
  left: calc(50% - 720px);
  background-color: var(--color-white);
  width: 1448px;
  height: 121px;
  overflow: hidden;
}
.services-3-inner {
  position: absolute;
  top: 6212.5px;
  left: calc(50% - 589.5px);
  width: 1180px;
  height: 1px;
  object-fit: cover;
}
.services-3-child1 {
  position: absolute;
  top: 71.5px;
  left: 544.5px;
  width: 82px;
  height: 1px;
}
.instance-child4 {
  position: relative;
  background-color: var(--color-gray-100);
  width: 1446px;
  height: 742px;
  z-index: 0;
}
.full-logo-37 {
  position: relative;
  width: 209px;
  height: 30px;
  object-fit: cover;
  z-index: 0;
}
.about-us22,
.info18,
.services19,
.studio18 {
  position: relative;
  display: inline-block;
  width: 64.4px;
}
.about-us22,
.services19,
.studio18 {
  width: 127.8px;
}
.about-us22,
.studio18 {
  width: 100.6px;
}
.about-us22 {
  width: 84.3px;
}
.frame-wrapper26,
.info-parent15 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.info-parent15 {
  flex-direction: column;
  gap: var(--gap-50xl);
}
.frame-wrapper26 {
  flex-direction: row;
  z-index: 0;
}
.book-a-call8,
.sign-up7 {
  position: relative;
  display: inline-block;
  width: 109.7px;
}
.book-a-call8 {
  width: 178.1px;
}
.div7 {
  position: absolute;
  top: 1px;
  left: 24px;
}
.akar-iconsphone6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
}
.parent5 {
  position: relative;
  width: 133px;
  height: 20px;
}
.hellotrueframemediagmailcom6 {
  position: absolute;
  top: 1px;
  left: 28px;
}
.carbonemail-icon6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 21px;
  height: 21px;
}
.hellotrueframemediagmailcom-parent4 {
  position: relative;
  width: 277px;
  height: 21px;
}
.zone-5-brgy-container6 {
  position: absolute;
  top: 0;
  left: 27px;
}
.basillocation-outline-icon6 {
  position: absolute;
  top: 6px;
  left: 0;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.zone-5-brgy-san-joaquin-palo-parent4 {
  position: relative;
  width: 263px;
  height: 36px;
}
.group-parent27 {
  flex-direction: column;
  gap: var(--gap-xl);
}
.frame-parent71,
.frame-wrapper27,
.group-parent27 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper27 {
  flex-direction: column;
  color: var(--gray-4);
}
.frame-parent71 {
  margin: 0 !important;
  position: absolute;
  top: 0;
  left: 281px;
  flex-direction: row;
  gap: var(--gap-73xl);
  z-index: 1;
}
.vector-icon7 {
  position: relative;
  width: 23px;
  height: 21.4px;
}
.akar-iconsinstagram-fill6 {
  position: relative;
  width: 24px;
  height: 22.3px;
  overflow: hidden;
  flex-shrink: 0;
}
.frame-parent69,
.full-logo-3-parent4,
.vector-parent9 {
  position: absolute;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.vector-parent9 {
  margin: 0 !important;
  top: 274px;
  left: 717px;
  flex-direction: row;
  gap: var(--gap-smi);
  z-index: 1;
}
.frame-parent69,
.full-logo-3-parent4 {
  gap: var(--gap-3xs);
}
.frame-parent69 {
  margin: 0 !important;
  top: 49px;
  left: 393px;
  flex-direction: row;
  z-index: 1;
}
.full-logo-3-parent4 {
  top: 0;
  left: 0;
  flex-direction: column;
}
.frame-child56 {
  position: absolute;
  top: 405.5px;
  left: -0.5px;
  width: 1184.9px;
  height: 1px;
  object-fit: cover;
}
.frame-parent68 {
  position: relative;
  width: 1183.9px;
  height: 406px;
}
.all-rights-reserved7 {
  position: relative;
  display: inline-block;
  width: 345px;
  flex-shrink: 0;
  z-index: 0;
}
.group-child59 {
  position: absolute;
  top: 3px;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-gainsboro-200);
  border: 0.5px solid var(--color-white);
  box-sizing: border-box;
  width: 9.1px;
  height: 9px;
}
.c7,
.ellipse-parent5 {
  position: absolute;
  top: 0;
}
.c7 {
  left: 1px;
  display: inline-block;
  width: 7px;
}
.ellipse-parent5 {
  margin: 0 !important;
  left: 345px;
  width: 9.1px;
  height: 12px;
  z-index: 1;
  text-align: left;
  font-size: var(--font-size-3xs);
}
.all-rights-reserved-by-truefra-parent5 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.frame-wrapper28 {
  position: relative;
  width: 345px;
  height: 18px;
  text-align: center;
}
.frame-parent67,
.rectangle-parent42 {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frame-parent67 {
  margin: 0 !important;
  top: 158px;
  left: 80px;
  width: 1263px;
  align-items: center;
  gap: var(--gap-100xl);
  z-index: 1;
}
.rectangle-parent42 {
  bottom: 0;
  left: calc(50% - 723px);
  align-items: flex-start;
  gap: var(--gap-3xs);
}
.frame-child57,
.frame-child58,
.frame-child59,
.frame-child60,
.frame-child61 {
  position: absolute;
  top: 0;
  left: 0;
  width: 230px;
  height: 218px;
  object-fit: cover;
}
.frame-child58,
.frame-child59,
.frame-child60,
.frame-child61 {
  left: 332px;
}
.frame-child59,
.frame-child60,
.frame-child61 {
  left: 520px;
}
.frame-child60,
.frame-child61 {
  left: 780px;
}
.frame-child61 {
  left: 1040px;
}
.rectangle-parent43 {
  position: relative;
  width: 1270px;
  height: 218px;
}
.frame-child63 {
  position: absolute;
  top: 0;
  left: 260px;
  width: 230px;
  height: 218px;
  object-fit: cover;
}
.frame-parent72 {
  position: absolute;
  top: 2332px;
  left: -332px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-38xl);
}
.services-3 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 6376px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-white);
  font-family: var(--font-moderat);
}
