.frame-child67 {
  background-color: var(--color-gray-100);
  width: 1442px;
  height: 1017px;
  z-index: 0;
}
.frame-child67,
.trueframe-blueprint {
  position: relative;
}
.untitled-2-1-icon {
  position: relative;
  width: 1150px;
  height: 1052px;
  object-fit: cover;
  z-index: 0;
}
.frame-child68,
.frame-child69 {
  position: relative;
  width: 74px;
  height: 108.5px;
}
.frame-child69 {
  width: 77.3px;
  height: 108.6px;
}
.vector-parent10 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 203px;
}
.frame-child70,
.frame-child71 {
  position: relative;
  width: 75.7px;
  height: 109.7px;
}
.frame-child71 {
  width: 66.5px;
  height: 112.6px;
}
.frame-parent76,
.vector-parent11 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 185px;
}
.frame-parent76 {
  position: absolute;
  top: 0;
  left: 0;
  flex-direction: row;
  align-items: flex-start;
  gap: 359px;
}
.frame-wrapper29 {
  position: absolute;
  margin: 0 !important;
  top: 206.8px;
  left: 184px;
  width: 613.4px;
  height: 418.4px;
  z-index: 1;
}
.untitled-2-1-parent {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.create-a-viral {
  position: relative;
  font-size: var(--font-size-mini);
  text-align: justify;
  display: inline-block;
  width: 403px;
}
.get-attention-parent,
.parent6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.get-attention-parent {
  text-align: center;
  font-size: var(--font-size-xl);
}
.parent6 {
  position: absolute;
  top: 0;
  left: 0;
}
.frame-wrapper30 {
  position: relative;
  width: 403px;
  height: 155px;
}
.establish-credibility-by {
  position: relative;
  font-size: var(--font-size-mini);
  text-align: justify;
  display: inline-block;
  width: 291px;
}
.build-trust-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: var(--font-size-xl);
}
.frame-wrapper31 {
  position: relative;
  width: 291px;
  height: 173px;
  text-align: center;
}
.group-parent28 {
  position: absolute;
  top: 52px;
  left: 286px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 402px;
}
.frame-parent75 {
  position: relative;
  width: 970px;
  height: 872px;
  text-align: right;
  font-size: var(--font-size-45xl);
}
.trueframe-blueprint-parent {
  margin: 0 !important;
  position: absolute;
  top: 44px;
  left: 231px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-14xl);
  z-index: 1;
}
.strong-call-to-action-incenti {
  position: relative;
  font-size: var(--font-size-mini);
  text-align: justify;
  display: inline-block;
  width: 303px;
}
.take-action-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 2px;
  text-align: center;
  font-size: var(--font-size-xl);
}
.frame-wrapper32 {
  position: relative;
  width: 303px;
  height: 175px;
}
.stimulate-curiousity-through {
  position: relative;
  font-size: var(--font-size-mini);
  text-align: justify;
  display: inline-block;
  width: 301px;
}
.spark-interest-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-9xs);
  text-align: center;
  font-size: var(--font-size-xl);
}
.frame-wrapper33 {
  position: relative;
  width: 301px;
  height: 177px;
}
.group-parent29 {
  margin: 0 !important;
  position: absolute;
  top: 456px;
  left: 207px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 423px;
  z-index: 1;
  text-align: right;
  font-size: var(--font-size-45xl);
}
.frame-parent74 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-3xs);
  z-index: 0;
}
.group-child60,
.group-child61 {
  position: absolute;
  top: 76px;
  left: 256px;
  width: 22.7px;
  height: 42px;
}
.group-child61 {
  top: 436.5px;
}
.group-child62,
.group-child63 {
  position: absolute;
  top: 256.4px;
  left: 432.5px;
  width: 56.9px;
  height: 22.7px;
}
.group-child63 {
  left: 56.8px;
}
.frame-child72 {
  position: relative;
  border-radius: 50%;
  background-color: rgba(217, 217, 217, 0.1);
  width: 545px;
  height: 545px;
  z-index: 0;
}
.trueframe-blueprint-1 {
  position: absolute;
  margin: 0 !important;
  top: 95.9px;
  left: calc(50% - 170.8px);
  width: 342.3px;
  height: 351.7px;
  object-fit: cover;
  z-index: 1;
}
.ellipse-parent6 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.vector-parent12 {
  position: absolute;
  margin: 0 !important;
  top: 141px;
  left: 217.3px;
  width: 545px;
  height: 545px;
  z-index: 0;
}
.frame-parent73,
.group-wrapper10 {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.group-wrapper10 {
  margin: 0 !important;
  top: 135px;
  left: 231px;
  z-index: 1;
}
.frame-parent73 {
  top: 1007px;
  left: 0;
  gap: var(--gap-3xs);
  text-align: center;
  font-size: var(--font-size-29xl);
}
.homepage-bg-1-216 {
  position: relative;
  width: 1440px;
  height: 1007px;
  object-fit: cover;
  z-index: 0;
}
.the {
  color: var(--color-white);
}
.span {
  color: var(--color-blue);
}
.blueprint {
  color: var(--color-mediumslateblue-100);
}
.the-trueframe-blueprint1 {
  line-height: 161%;
}
.the-trueframe-blueprint {
  margin: 0;
}
.discover-on-how {
  margin: 0;
  font-size: var(--font-size-5xl);
  line-height: 0%;
}
.the-trueframe-blueprint-container {
  position: relative;
  display: inline-block;
  width: 824px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.frame-child73 {
  position: relative;
  width: 701px;
  height: 2px;
}
.the-trueframe-blueprint-discov-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-14xl);
}
.frame-child74 {
  position: relative;
  width: 72px;
  height: 33.2px;
}
.frame-parent77,
.homepage-bg-1-2-parent3 {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frame-parent77 {
  margin: 0 !important;
  top: 352px;
  left: 308px;
  align-items: center;
  gap: 202px;
  z-index: 1;
}
.homepage-bg-1-2-parent3 {
  top: 0;
  left: 0;
  align-items: flex-start;
  gap: var(--gap-3xs);
  text-align: center;
  font-size: var(--font-size-45xl);
}
.frame-child75 {
  position: relative;
  background-color: var(--color-gray-100);
  width: 1441px;
  height: 999px;
  z-index: 0;
}
.in-todays-fast-paced-container,
.unlocking-your-brands {
  position: relative;
  display: inline-block;
  width: 469px;
}
.in-todays-fast-paced-container {
  font-size: var(--font-size-mini);
  text-align: justify;
  width: 541px;
}
.unlocking-your-brands-true-po-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-24xl);
}
.group-child64 {
  position: absolute;
  top: 0;
  left: calc(50% - 184px);
  background-color: var(--color-blue);
  width: 368px;
  height: 62px;
}
.download-the-full {
  position: absolute;
  top: 16px;
  left: calc(50% - 151px);
  font-weight: 500;
}
.rectangle-parent47 {
  position: relative;
  width: 368px;
  height: 62px;
  font-size: var(--font-size-5xl);
  font-family: var(--font-lato);
}
.concentrated-2-icon {
  position: relative;
  width: 404px;
  height: 571px;
  object-fit: cover;
}
.frame-parent79 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 197px;
}
.frame-parent78,
.rectangle-parent46 {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frame-parent78 {
  margin: 0 !important;
  top: 103px;
  left: 102px;
  align-items: center;
  gap: 162px;
  z-index: 1;
}
.rectangle-parent46 {
  top: 3039px;
  left: 0;
  align-items: flex-start;
  gap: var(--gap-3xs);
  font-size: var(--font-size-21xl);
}
.frame-child77 {
  position: relative;
  background-color: var(--color-gray-100);
  width: 1441px;
  height: 1017px;
  z-index: 0;
}
.div12 {
  position: relative;
  color: var(--color-gray-600);
  -webkit-text-stroke: 1px #fff;
}
.understanding-your-brand,
.we-start-by {
  position: relative;
  font-size: var(--font-size-5xl);
}
.we-start-by {
  font-size: var(--font-size-mini);
  text-align: justify;
  display: inline-block;
  width: 347px;
}
.parent10 {
  flex-direction: column;
  gap: var(--gap-xs);
}
.frame-parent81,
.frame-parent82,
.parent10,
.parent13 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent82 {
  flex-direction: row;
  gap: var(--gap-96xl);
}
.frame-parent81,
.parent13 {
  flex-direction: column;
}
.parent13 {
  gap: var(--gap-5xs);
}
.frame-parent81 {
  gap: 99px;
  font-size: var(--font-size-29xl);
}
.how-we-will-work-with-you-parent,
.rectangle-parent48 {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.how-we-will-work-with-you-parent {
  margin: 0 !important;
  top: 192px;
  left: 84px;
  align-items: center;
  gap: 98px;
  z-index: 1;
}
.rectangle-parent48 {
  top: 2023px;
  left: 0;
  align-items: flex-start;
  gap: var(--gap-3xs);
}
.frame-child78 {
  position: relative;
  background-color: var(--color-gray-100);
  width: 1443px;
  height: 1017px;
  z-index: 0;
}
.ash-1-icon {
  position: relative;
  width: 471px;
  height: 666px;
  object-fit: cover;
}
.are-you-ready1 {
  position: relative;
  display: inline-block;
  width: 558px;
}
.group-child65 {
  position: absolute;
  top: 0;
  left: calc(50% - 169px);
  background-color: var(--color-blue);
  width: 338px;
  height: 62px;
}
.schedule-a-discovery {
  position: absolute;
  top: 16px;
  left: calc(50% - 135px);
  font-weight: 500;
  display: inline-block;
  width: 270px;
}
.rectangle-parent50 {
  position: relative;
  width: 338px;
  height: 62px;
  font-size: var(--font-size-5xl);
  font-family: var(--font-lato);
}
.are-you-ready-to-take-on-the-n-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-37xl);
}
.ash-1-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 141px;
}
.frame-wrapper34,
.rectangle-parent49 {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper34 {
  margin: 0 !important;
  top: 197px;
  left: calc(50% - 587.5px);
  z-index: 1;
}
.rectangle-parent49 {
  top: 4033px;
  left: 0;
  gap: var(--gap-3xs);
}
.info-2-child {
  position: absolute;
  top: 78px;
  left: 372px;
  background-color: var(--color-gainsboro-100);
  width: 44px;
  height: 1px;
}
.navigation-bar-child6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1448px;
  height: 132px;
  object-fit: cover;
}
.homepage-bg-1-217 {
  position: absolute;
  top: 0;
  left: calc(50% - 720px);
  width: 1440px;
  height: 121px;
  object-fit: cover;
}
.group-child66 {
  background-color: var(--color-gray-300);
  width: 1440px;
  height: 121px;
}
.frame-wrapper35,
.group-child66,
.group-child67 {
  position: absolute;
  top: 0;
  left: 0;
}
.frame-wrapper35 {
  top: 14px;
  left: 290px;
  width: 658px;
  height: 18px;
}
.contact-us11 {
  position: absolute;
  top: 14px;
  left: 22px;
}
.group-child68 {
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
}
.asset-2-111,
.contact-us-parent9,
.group-child68,
.group-wrapper11 {
  position: absolute;
  top: 0;
  left: 0;
  width: 157px;
  height: 47px;
}
.asset-2-111,
.group-wrapper11 {
  left: 1099px;
}
.asset-2-111 {
  top: 3px;
  left: 0;
  width: 46px;
  height: 46px;
  object-fit: cover;
}
.group-parent30 {
  position: absolute;
  top: 34px;
  left: 85px;
  width: 1256px;
  height: 49px;
}
.rectangle-parent51 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 121px;
}
.info-parent16 {
  position: absolute;
  top: 48px;
  left: 375px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-84xl);
}
.navigation-bar8 {
  position: absolute;
  top: 0;
  left: calc(50% - 720px);
  background-color: var(--color-white);
  width: 1448px;
  height: 121px;
  overflow: hidden;
  font-size: var(--font-size-mini);
}
.info-2-item {
  position: absolute;
  top: 71.5px;
  left: 372.5px;
  width: 45px;
  height: 1px;
}
.instance-child5 {
  position: relative;
  background-color: var(--color-gray-100);
  width: 1446px;
  height: 742px;
  z-index: 0;
}
.full-logo-38 {
  position: relative;
  width: 209px;
  height: 30px;
  object-fit: cover;
  z-index: 0;
}
.about-us24,
.info20,
.services21,
.studio20 {
  position: relative;
  display: inline-block;
  width: 64.4px;
}
.about-us24,
.services21,
.studio20 {
  width: 127.8px;
}
.about-us24,
.studio20 {
  width: 100.6px;
}
.about-us24 {
  width: 84.3px;
}
.frame-wrapper36,
.info-parent17 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.info-parent17 {
  flex-direction: column;
  gap: var(--gap-50xl);
}
.frame-wrapper36 {
  flex-direction: row;
  z-index: 0;
}
.book-a-call9,
.sign-up8 {
  position: relative;
  display: inline-block;
  width: 109.7px;
}
.book-a-call9 {
  width: 178.1px;
}
.div18 {
  position: absolute;
  top: 1px;
  left: 24px;
}
.akar-iconsphone7 {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
}
.parent16 {
  position: relative;
  width: 133px;
  height: 20px;
}
.hellotrueframemediagmailcom7 {
  position: absolute;
  top: 1px;
  left: 28px;
}
.carbonemail-icon7 {
  position: absolute;
  top: 0;
  left: 0;
  width: 21px;
  height: 21px;
}
.hellotrueframemediagmailcom-parent5 {
  position: relative;
  width: 277px;
  height: 21px;
}
.zone-5-brgy-container7 {
  position: absolute;
  top: 0;
  left: 27px;
}
.basillocation-outline-icon7 {
  position: absolute;
  top: 6px;
  left: 0;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.zone-5-brgy-san-joaquin-palo-parent5 {
  position: relative;
  width: 263px;
  height: 36px;
}
.group-parent31 {
  flex-direction: column;
  gap: var(--gap-xl);
}
.frame-parent87,
.frame-parent88,
.frame-wrapper37,
.group-parent31 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper37 {
  flex-direction: column;
  color: var(--gray-4);
}
.frame-parent87,
.frame-parent88 {
  flex-direction: row;
}
.frame-parent88 {
  margin: 0 !important;
  position: absolute;
  top: 0;
  left: 281px;
  gap: var(--gap-73xl);
  z-index: 1;
}
.frame-parent87 {
  position: relative;
  gap: var(--gap-3xs);
  z-index: 0;
}
.vector-icon8 {
  position: relative;
  width: 23px;
  height: 21.4px;
}
.akar-iconsinstagram-fill7 {
  position: relative;
  width: 24px;
  height: 22.3px;
  overflow: hidden;
  flex-shrink: 0;
}
.frame-parent86,
.vector-parent13 {
  margin: 0 !important;
  position: absolute;
  top: 274px;
  left: 717px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-smi);
  z-index: 1;
}
.frame-parent86 {
  top: 49px;
  left: 393px;
  gap: var(--gap-3xs);
}
.frame-child79 {
  position: absolute;
  top: 405.5px;
  left: -0.5px;
  width: 1184.9px;
  height: 1px;
  object-fit: cover;
}
.frame-parent85 {
  position: relative;
  width: 1183.9px;
  height: 406px;
}
.all-rights-reserved8 {
  position: relative;
  display: inline-block;
  width: 345px;
  flex-shrink: 0;
  z-index: 0;
}
.group-child69 {
  position: absolute;
  top: 3px;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-gainsboro-200);
  border: 0.5px solid var(--color-white);
  box-sizing: border-box;
  width: 9.1px;
  height: 9px;
}
.c8,
.ellipse-parent7 {
  position: absolute;
  top: 0;
}
.c8 {
  left: 1px;
  display: inline-block;
  width: 7px;
}
.ellipse-parent7 {
  margin: 0 !important;
  left: 345px;
  width: 9.1px;
  height: 12px;
  z-index: 1;
  text-align: left;
  font-size: var(--font-size-3xs);
}
.frame-wrapper38 {
  position: relative;
  width: 345px;
  height: 18px;
  text-align: center;
}
.frame-parent84,
.rectangle-parent52 {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frame-parent84 {
  margin: 0 !important;
  top: 158px;
  left: 80px;
  width: 1263px;
  align-items: center;
  gap: var(--gap-100xl);
  z-index: 1;
}
.rectangle-parent52 {
  bottom: 0;
  left: calc(50% - 723px);
  align-items: flex-start;
  gap: var(--gap-3xs);
  font-size: var(--font-size-mini);
}
.info-2 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 5792px;
  overflow: hidden;
  text-align: left;
  font-size: var(--h2-size);
  color: var(--color-white);
  font-family: var(--font-moderat);
}
